.card {
  border: 1px solid black;
  /* height: 100px; */
  width: 200px;
  margin: 10px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card-image {
  width: 100%;
}
