* {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-style: normal;
}
main {
  min-height: 73vh;
}
.nunito-font {
  font-family: "Nunito", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
.card {
  width: 45%;
  margin: 10px;
  border-radius: 10px;
  text-align: center;
  color: rgb(23, 24, 26);
  background-color: rgb(170, 175, 187);
  font-size: 14px;
  text-decoration-line: underline;

  display: flex;
  flex-direction: column;

  align-items: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.card-image {
  width: 60%;
  justify-content: center;
  height: 170px;
  padding: 10px;
  border-radius: 20px;
}

.main-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.portfolio-container {
  padding: 30px;
  /* border: 1px solid black; */
  min-height: 71vh;
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(195, 201, 214, 0.721);
  border-radius: 20px;
  margin-top: 20px;
  font-size: 25px;
  font-weight: bolder;
  color: rgb(20, 19, 19);
}

@media only screen and (max-width: 600px) {
  .portfolio-container {
    width: 100%;
  }

  .card {
    width: 100%;
  }
}

@media screen and (max-width: 992px) {
  .portfolio-container {
    width: 100%;
  }
  .card {
    width: 100%;
  }
}
